<div>
    <div>
        <button>Volver</button>
    </div>
    <div>
        <div>
            <p>Titulo</p>
        </div>
        <div>
            <input type="text" placeholder="ingrese titulo">
        </div>
    </div>
    <div>
        <div>
            <p>Descripcion</p>
        </div>
        <div>
            <input type="text" placeholder="ingrese Descripcion">
        </div>
    </div>
    <div>
        <div>
            <p>Archivo multimedia</p>
        </div>
    </div>
    <div>
        <div>
            <input class="foto-evento" type="file" accept="image/png, image/jpeg">
        </div>
    </div>
    <div>
        <button>
            publicar
        </button>
    </div>
</div>