<div>
    <div>
        <button>Volver</button>
    </div>
    <div>
        <div>
            <p>Titulo</p>
        </div>
        <div>
            <input type="text" placeholder="Ingrese titulo">
        </div>
    </div>
    <div>
        <div>
            <p>Descripcion</p>
        </div>
        <div>
            <input type="text" placeholder="Ingrese Descripcion">
        </div>
    </div>
    <div>
        <div>
            <p>Anfitrion</p>
        </div>
        <div>
            <input type="text" placeholder="Ingrese el anfitrion">
        </div>
    </div>
    <div>
        <div>
            <p>Fecha</p>
        </div>
        <div>
            <input type="text" placeholder="Ingrese la fecha">
        </div>
    </div>
    <div>
        <div>
            <p>Hora</p>
        </div>
        <div>
            <input type="text" placeholder="Ingrese la hora">
        </div>
    </div>
    <div>
        <div>
            <p>Archivo multimedia</p>
        </div>
    </div>
    <div>
        <div>
            <input class="foto-evento" type="file" accept="image/png, image/jpeg">
        </div>
    </div>
    <div>
        <button>
            publicar
        </button>
    </div>
</div>